## Comparison of orbital launch systems

- <https://en.wikipedia.org/wiki/Comparison_of_orbital_launch_systems>

In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/Comparison_of_orbital_launch_systems'
dfs = pd.read_html(url)

### Current rockets

In [3]:
dfs[0]

               Vehicle         Origin     Manufacturer  Height  \
               Vehicle         Origin     Manufacturer  Height
0   Angara A5 / Briz-M         Russia       Khrunichev  48.7 m
1           Angara-1.2         Russia       Khrunichev  42.7 m
2         Ariane 6 A62         France      ArianeGroup    63 m
3          Atlas V 551  United States              ULA  58.3 m
4       Atlas V N22[b]  United States              ULA  52.4 m
..                 ...            ...              ...     ...
83                SSLV          India             ISRO    34 m
84          Tianlong-2          China    Space Pioneer  32.8 m
85              Vega-C          Italy  ArianeGroupAvio  36.2 m
86  Vulcan Centaur VC2  United States              ULA  61.6 m
87           Zhuque-2E          China        LandSpace  49.5 m

   Maximum payload mass (kg)              \
                         LEO         GTO
0                  24,500[1]    5,200[1]
1                   3,700[2]         NaN
2                  10,900[4]    5,100[4]
3                  18,850[7]    8,900[7]
4                 13,000[10]         NaN
..                       ...         ...
83                  500[131]         NaN
84                2,000[133]         NaN
85                3,300[134]         NaN
86               19,000[136]  8,400[136]
87                6,000[138]         NaN

                                                      Reusable / Expendable  \
                                                Other Reusable / Expendable
0                                     2,800 to GEO[1]            Expendable
1                    2,400 to SSO[3] 3400 to polar[2]            Expendable
2   7,200 to SSO 4,800 to MEO 1,300 to GEO 2,600 t...            Expendable
3    13,550 to SSO 14,520 to polar[8] 3,850 to GEO[7]            Expendable
4                                                 NaN            Expendable
..                                                ...                   ...
83                                    300 to SSO[132]            Expendable
84                                  1,500 to SSO[133]            Expendable
85                    2,300 to SSO2,500 to polar[134]            Expendable
86  15,200 to polar, 3,900 to MEO, 2,600 to GEO, 6...            Expendable
87                                  4,000 to SSO[138]            Expendable

   Orbital launches including failures[a]        Launch site(s)  \
   Orbital launches including failures[a]        Launch site(s)
0                                    2[1]  Plesetsk,  Vostochny
1                                    4[2]  Plesetsk,  Vostochny
2                                    2[6]                   CSG
3                                   15[8]          VAFB,  CCSFS
4                                   3[11]        Cape Canaveral
..                                    ...                   ...
83                                 3[132]                  SDSC
84                                 1[133]                  JSLC
85                                 4[135]                   CSG
86                                 2[137]                 CCSFS
87                                 2[138]                  JSLC

   Dates of flight
             First Latest
0             2014   2020
1             2022   2025
2             2024   2025
3             2006   2025
4         2019[12]   2024
..             ...    ...
83            2022   2024
84            2023   2023
85            2022   2025
86            2024   2024
87            2024   2025

[88 rows x 12 columns]

### Rockets in flight testing

In [4]:
dfs[1]

                                  Vehicle               Origin  \
                                  Vehicle               Origin
0                       Angara A5 / Orion               Russia
1                      Angara A5 / Persei               Russia
2                                GYUB TV2          South Korea
3                                  KAIROS                Japan
4  New-type satellite carrier rocket[143]  North Korea Â Russia
5                               New Glenn        United States
6                        Starship Block 2        United States
7                                Spectrum              Germany

      Manufacturer   Height Maximum payload mass (kg)               \
      Manufacturer   Height                       LEO          GTO
0       Khrunichev   54.9 m                       NaN   6,500[139]
1       Khrunichev   54.9 m                       NaN   6,500[139]
2              MND   19.5 m                  100[140]          NaN
3        Space One     18 m                  250[141]          NaN
4  NADA Khrunichev      NaN                       NaN          NaN
5      Blue Origin     98 m               45,000[145]  13,000[145]
6           SpaceX  123.1 m                       NaN          NaN
7   Isar Aerospace     28 m                1,000[147]          NaN

                     Reusable / Expendable  \
               Other Reusable / Expendable
0  3,700 to GEO[139]            Expendable
1  3,700 to GEO[139]            Expendable
2                NaN            Expendable
3    150 to SSO[141]            Expendable
4                NaN            Expendable
5                NaN    Partially reusable
6                NaN              Reusable
7    700 to SSO[147]            Expendable

  Orbital launches including failures[a] Suborbital test flights  \
  Orbital launches including failures[a] Suborbital test flights
0                                 1[139]                     NaN
1                                 1[139]                     NaN
2                                 1[140]                     NaN
3                                 2[142]                     NaN
4                            1[144][143]                     NaN
5                                 1[146]                     NaN
6                                      3                     NaN
7                                 1[148]                     NaN

             Launch site(s) Dates of flight
             Launch site(s)           First Latest
0      Plesetsk,  Vostochny            2024   2024
1      Plesetsk,  Vostochny            2021   2021
2  Jeju sea launch platform            2023   2023
3             Spaceport Kii            2024   2024
4                     Sohae            2024   2024
5               CCSFS  VSFB            2025   2025
6                  Starbase            2025   2025
7               AndÃ¸ya  CSG            2025   2025

### Upcoming rockets

In [5]:
dfs[2]

             Vehicle  Origin               Manufacturer  Height  \
             Vehicle  Origin               Manufacturer  Height
0           Agnibaan   India             AgniKul Cosmos    18 m
1   Angara A5 / KVTK  Russia                 Khrunichev     NaN
2         Angara A5M  Russia                 Khrunichev     NaN
3         Angara A5P  Russia                 Khrunichev     NaN
4         Angara A5V  Russia                 Khrunichev    70 m
..               ...     ...                        ...     ...
75              Zero   Japan  Interstellar Technologies    32 m
76          Zhuque-3   China                  LandSpace  76.6 m
77          Zhuque-3   China                  LandSpace  76.6 m
78          Zhuque-3   China                  LandSpace  76.6 m
79          Zuljanah    Iran       Iranian Space Agency  25.5 m

   Payload mass to ... (kg)                    \
                        LEO               GTO
0                  100[149]               NaN
1                       NaN        7,500[150]
2               26,800[151]  4,100-5,200[151]
3               18,200[152]               NaN
4               37,500[153]       13,300[153]
..                      ...               ...
75                      800               NaN
76       12,500 (RTLS)[215]               NaN
77      18,300 (barge)[215]               NaN
78              21,000[216]               NaN
79                 220[217]               NaN

                                                   Reusable / Expendable  \
                                             Other Reusable / Expendable
0                                              NaN            Expendable
1                                4,500 to GEO[150]            Expendable
2                                              NaN            Expendable
3                                              NaN            Expendable
4   8,000 to GEO ~15,000 to HEO ~10000 to TLI[153]            Expendable
..                                             ...                   ...
75                                      250 to SSO            Expendable
76                                             NaN    Partially reusable
77                                             NaN    Partially reusable
78                                             NaN            Expendable
79                                             NaN            Expendable

         Launch Site (s) Date of first flight
         Launch Site (s) Date of first flight
0                   SDSC                 2025
1   Plesetsk,  Vostochny            2028[150]
2   Plesetsk,  Vostochny                 2027
3              Vostochny                 2028
4              Vostochny            2028[153]
..                   ...                  ...
75                 Taiki                 2025
76           JSLC,  WSLS            2025[215]
77           JSLC,  WSLS            2025[215]
78           JSLC,  WSLS            2025[215]
79                Semnan                  TBA

[80 rows x 10 columns]

### Retired launch systems

- <https://en.wikipedia.org/wiki/Comparison_of_retired_orbital_launch_systems>

In [7]:
url_ret = 'https://en.wikipedia.org/wiki/Comparison_of_retired_orbital_launch_systems'
dfs_ret = pd.read_html(url_ret)

In [9]:
dfs_ret[1]

                Vehicle         Origin          Manufacturer       Height  \
                Vehicle         Origin          Manufacturer       Height
0       Antares 110â€“130  United States               Orbital  40.5-41.9 m
1    Antares 230 / 230+  United States      Northrop Grumman       42.5 m
2              Ariane 1         France          AÃ©rospatiale       49.1 m
3              Ariane 2         France          AÃ©rospatiale       49.1 m
4              Ariane 3         France          AÃ©rospatiale       49.1 m
..                  ...            ...                   ...          ...
187            Zenit-2M        Ukraine              Yuzhnoye         57 m
188            Zenit-3F        Ukraine              Yuzhnoye       59.6 m
189           Zenit-3SL        Ukraine  Yuzhmash RSC Energia       59.6 m
190          Zenit-3SLB        Ukraine  Yuzhmash RSC Energia       59.5 m
191            Zhuque-1          China             LandSpace         19 m

    Mass to ... (kg)                                Reuse  \
                 LEO         GTO              Other Reuse
0           5,100[1]         NaN       1,500 to SSO    No
1           8,200[1]         NaN    3,000 to SSO[a]    No
2                NaN    1,830[2]                NaN    No
3                NaN    2,270[2]                NaN    No
4                NaN    2,650[2]                NaN    No
..               ...         ...                ...   ...
187      13,920[135]         NaN                NaN    No
188              NaN         NaN  1,740 to GEO[138]    No
189       7,000[139]        6160                NaN    No
190              NaN  3,750[139]                NaN    No
191         300[140]         NaN         200 to SSO    No

    Launches (+Â suborbital)   Launch Sites Date of flight
    Launches (+Â suborbital)   Launch Sites          First  Last
0                      5[1]           MARS           2013  2014
1                        13           MARS           2016  2023
2                     11[2]            CSG           1979  1986
3                      6[2]            CSG           1986  1989
4                     11[2]            CSG           1984  1989
..                      ...            ...            ...   ...
187                       1       Baikonur           2007  2007
188                  4[139]       Baikonur           2011  2017
189                 36[139]  Ocean Odyssey           1999  2014
190                  6[139]       Baikonur           2008  2013
191                  1[141]           JSLC      2018[141]  2018

[192 rows x 12 columns]

In [10]:
dfs_ret[2]

                 Vehicle         Origin                       Manufacturer  \
                 Vehicle         Origin                       Manufacturer
0             Atlas-Able  United States                   General Dynamics
1            Atlas-Agena  United States           Convair/General Dynamics
2          Atlas-Centaur  United States                           Lockheed
3                Atlas B  United States                    Lockheed Martin
4            Atlas-D OV1  United States           Convair/General Dynamics
5        Atlas E/F-Agena  United States  Convair/General Dynamics/Lockheed
6    Atlas E/F-Altair-3A  United States           Convair/General Dynamics
7     Atlas E/F-Burner-2  United States           Convair/General Dynamics
8          Atlas E/F-MSD  United States           Convair/General Dynamics
9          Atlas E/F-OIS  United States           Convair/General Dynamics
10         Atlas E/F-OV1  United States           Convair/General Dynamics
11         Atlas E/F-PTS  United States           Convair/General Dynamics
12       Atlas E/F-SGS-1  United States           Convair/General Dynamics
13       Atlas E/F-SGS-2  United States           Convair/General Dynamics
14    Atlas E/F-Star-17A  United States           Convair/General Dynamics
15    Atlas E/F-Star-37S  United States           Convair/General Dynamics
16       Atlas-F Agena-D  United States           Convair/General Dynamics
17               Atlas G  United States                           Lockheed
18           Atlas H MSD  United States                           Lockheed
19           Atlas LV-3B  United States                            Convair
20           Atlas SLV-3  United States                            Convair
21  Atlas SLV-3 Burner-2  United States                            Convair
22               Atlas I  United States                    Lockheed Martin
23              Atlas II  United States                    Lockheed Martin
24             Atlas IIA  United States                    Lockheed Martin
25            Atlas IIAS  United States                    Lockheed Martin
26            Atlas IIIA  United States                    Lockheed Martin
27        Atlas IIIB/DEC  United States                    Lockheed Martin
28        Atlas IIIB/SEC  United States                    Lockheed Martin
29           Atlas V 401  United States                                ULA
30           Atlas V 411  United States                                ULA
31           Atlas V 421  United States                                ULA
32           Atlas V 431  United States                                ULA
33           Atlas V 501  United States                                ULA
34           Atlas V 511  United States                                ULA
35           Atlas V 521  United States                                ULA
36           Atlas V 531  United States                                ULA
37           Atlas V 541  United States                                ULA

         Height Mass to ... (kg)                                          \
         Height              LEO         GTO                       Other
0          28 m              NaN         NaN                 ~175 to TLI
1          36 m             1000         NaN                  390 to TLI
2   36.2-38.8 m       1,134[142]  2,222[143]                         NaN
3        24.9 m           ~4,000         NaN                         NaN
4        25.9 m             1400         NaN                         NaN
5          34 m             1000         NaN                  390 to TLI
6        27.3 m              210         NaN                         NaN
7        28.9 m              950         NaN                         NaN
8        27.3 m              800         NaN                         NaN
9        28.7 m              870         NaN                         NaN
10       26.5 m              363         NaN                         NaN
11       26.5 m              295         NaN                         NaN
12         29 m              450         NaN                         NaN
13         29 m              770         NaN                         NaN
14       27.4 m              NaN         NaN                 800 to MPEO
15         29 m              NaN         NaN                1,100 to SSO
16         34 m              NaN         NaN              2,300 to Polar
17       43.9 m       5,900[144]        2222           1,179 to HCO[144]
18         27 m       3,630[145]         NaN                         NaN
19       28.7 m             1360         NaN                         NaN
20       33.3 m              NaN         NaN                         NaN
21       30.3 m           ~1,000         NaN                         NaN
22       43.9 m       5,900[144]  2,340[144]                         NaN
23       47.5 m       6,780[144]        2810           2,000 to HCO[144]
24       47.5 m       7,316[144]        3180           2,160 to HCO[144]
25         49 m       8,618[144]        3833           2,680 to HCO[144]
26       52.5 m       8,686[144]        4060           2,970 to HCO[144]
27       53.7 m      10,759[144]  4,609[144]                         NaN
28       54.7 m      10,218[146]  4,193[144]                         NaN
29       57.3 m       9,050[147]        4950                6,670 to SSO
30       58.2 m       9,050[147]        6075                8,495 to SSO
31       59.1 m       9,050[147]        7000                9,050 to SSO
32       59.1 m       9,050[147]        7800                9,050 to SSO
33       62.5 m       8,250[147]        3970   5,945 to SSO 1,500 to GEO
34       62.5 m      11,000[147]        5250   7,820 to SSO 1,750 to GEO
35       59.7 m      13,300[147]        6485   9,585 to SSO 2,760 to GEO
36       59.7 m      15,300[147]        7425  11,160 to SSO 3,250 to GEO
37       59.7 m      17,100[147]        8240  12,435 to SSO 3,730 to GEO

   Reuse Launches (+Â suborbital)  Launch Sites Date of flight
   Reuse Launches (+Â suborbital)  Launch Sites          First  Last
0     No                       3         CCSFS           1959  1960
1     No                     109  VAFB,  CCSFS           1960  1978
2     No                     148         CCSFS           1962  1983
3     No                      10         CCSFS           1958  1959
4     No                       7          VAFB           1965  1967
5     No                       1          VAFB           1978  1978
6     No                       1          VAFB           1990  1990
7     No                       1          VAFB           1972  1972
8     No                       4          VAFB           1976  1980
9     No                       2          VAFB           1979  1985
10    No                       4          VAFB           1968  1971
11    No                       1          VAFB           1974  1974
12    No                       8          VAFB           1977  1981
13    No                       4          VAFB           1983  1985
14    No                       1          VAFB           1975  1975
15    No                      19          VAFB           1978  1995
16    No                       1          VAFB           1978  1978
17    No                  7[144]         CCSFS           1984  1989
18    No                       5          VAFB           1983  1987
19    No                       9         CCSFS           1960  1963
20    No                      63  VAFB,  CCSFS           1966  1983
21    No                       1          VAFB           1968  1968
22    No                 11[144]         CCSFS           1990  1997
23    No                 10[144]  VAFB,  CCSFS           1991  1998
24    No                 23[144]  VAFB,  CCSFS           1992  2002
25    No                 30[144]  VAFB,  CCSFS           1993  2004
26    No                  2[144]         CCSFS           2000  2004
27    No                  1[144]         CCSFS           2002  2002
28    No                  3[144]         CCSFS           2003  2005
29    No                 41[147]  VAFB,  CCSFS           2002  2022
30    No                  6[147]  VAFB,  CCSFS           2006  2020
31    No                  9[147]  VAFB,  CCSFS           2007  2022
32    No                  3[147]  VAFB,  CCSFS           2005  2016
33    No                  8[147]  VAFB,  CCSFS           2010  2023
34    No                  1[148]  VAFB,  CCSFS           2022  2022
35    No                  2[147]  VAFB,  CCSFS           2003  2004
36    No                  5[147]  VAFB,  CCSFS           2010  2022
37    No                  9[147]  VAFB,  CCSFS           2011  2022

In [12]:
dfs_ret[3]

             Vehicle         Origin       Manufacturer  Height  \
             Vehicle         Origin       Manufacturer  Height
0         Delta 0300  United States  McDonnell Douglas    34 m
1         Delta 0900  United States  McDonnell Douglas    34 m
2         Delta 1410  United States  McDonnell Douglas  35.2 m
3         Delta 1604  United States  McDonnell Douglas  35.2 m
4         Delta 1900  United States  McDonnell Douglas  35.2 m
5         Delta 1910  United States  McDonnell Douglas  35.2 m
6         Delta 1913  United States  McDonnell Douglas  35.2 m
7         Delta 1914  United States  McDonnell Douglas  35.2 m
8         Delta 2310  United States  McDonnell Douglas  35.2 m
9         Delta 2313  United States  McDonnell Douglas  35.2 m
10        Delta 2910  United States  McDonnell Douglas  35.2 m
11        Delta 2913  United States  McDonnell Douglas  35.2 m
12        Delta 2914  United States  McDonnell Douglas  35.2 m
13        Delta 3910  United States  McDonnell Douglas  35.2 m
14        Delta 3913  United States  McDonnell Douglas  35.2 m
15        Delta 3914  United States  McDonnell Douglas  35.2 m
16        Delta 3920  United States  McDonnell Douglas  35.2 m
17        Delta 3924  United States  McDonnell Douglas  35.2 m
18        Delta 4925  United States  McDonnell Douglas  35.2 m
19        Delta 5920  United States  McDonnell Douglas  35.2 m
20     Delta II 6920  United States  McDonnell Douglas  38.8 m
21     Delta II 6925  United States  McDonnell Douglas  39.4 m
22     Delta II 7320  United States   Boeing IDS / ULA  38.9 m
23     Delta II 7326  United States         Boeing IDS  38.4 m
24     Delta II 7420  United States                ULA    39 m
25     Delta II 7425  United States         Boeing IDS    39 m
26     Delta II 7426  United States         Boeing IDS    39 m
27     Delta II 7920  United States   Boeing IDS / ULA  39.4 m
28     Delta II 7925  United States   Boeing IDS / ULA  39.4 m
29  Delta II-H 7920H  United States   Boeing IDS / ULA    39 m
30  Delta II-H 7925H  United States   Boeing IDS / ULA  39.8 m
31    Delta III 8930  United States         Boeing IDS    39 m
32    Delta IV Heavy  United States                ULA    72 m
33        Delta IV M  United States         Boeing IDS  61.3 m
34  Delta IV M+(4,2)  United States                ULA  61.3 m
35  Delta IV M+(5,2)  United States                ULA  65.5 m
36  Delta IV M+(5,4)  United States                ULA  65.5 m

   Mass to ... (kg)                    \
                LEO               GTO
0               NaN          340[149]
1        1,300[153]               NaN
2          340[154]               NaN
3          390[155]               NaN
4        1,800[151]               NaN
5        1,066[156]               NaN
6          328[157]               NaN
7               NaN          680[158]
8          336[159]               NaN
9               NaN               NaN
10       1,887[151]               NaN
11       2,000[161]          700[161]
12              NaN          724[151]
13       2,494[151]  1,154 with PAM-D
14         816[162]               NaN
15              NaN          954[151]
16       3,452[151]  1,284 with PAM-D
17              NaN        1,104[151]
18       3,400[163]        1,312[151]
19       3,848[164]               NaN
20       3,983[151]               NaN
21             1447        1,447[151]
22       2,865[151]               NaN
23              NaN          934[151]
24       3,185[151]               NaN
25              NaN        1,100[151]
26              NaN        1,058[151]
27       5,030[151]               NaN
28              NaN        1,819[151]
29       6,097[151]               NaN
30              NaN              2171
31       8,292[151]              3810
32      28,370[165]       14,210[165]
33       9,440[165]              4440
34      13,140[165]              6390
35      11,470[165]              5490
36      14,140[165]              7300

                                                     Reuse  \
                                               Other Reuse
0                                    747 to SSO[150]    No
1                                    818 to SSO[151]    No
2                                                NaN    No
3                                                NaN    No
4                                                NaN    No
5                                                NaN    No
6                                                NaN    No
7                                                NaN    No
8                                                NaN    No
9                                    243 to GEO[160]    No
10                                               NaN    No
11                                               NaN    No
12                                               NaN    No
13                                               NaN    No
14                                               NaN    No
15                                               NaN    No
16                                               NaN    No
17                                               NaN    No
18                                               NaN    No
19                                               NaN    No
20                                               NaN    No
21                                               NaN    No
22                                      1,651 to SSO    No
23                             636 to TLI 629 to HCO    No
24                                      1,966 to SSO    No
25                                        804 to HCO    No
26                             734 to TLI 711 to HCO    No
27                                      3,123 to SSO    No
28                         1,177 to TLI 1,265 to HCO    No
29                                               NaN    No
30                                 1,508 to HCO[151]    No
31                                               NaN    No
32  23,560 to polar [165] 11,290 to TLI 8,000 to TMI    No
33                                    7,690 to polar    No
34                                   10,250 to polar    No
35                                    9,600 to polar    No
36                                   11,600 to polar    No

   Launches (+Â suborbital)  Launch Sites Date of flight
   Launches (+Â suborbital)  Launch Sites          First       Last
0                   3[151]          VAFB           1972  1973[152]
1                   2[151]          VAFB           1972       1972
2                   1[151]          VAFB           1975       1975
3                   2[151]         CCSFS           1972       1973
4                   1[151]          VAFB           1973       1973
5                   1[151]         CCSFS           1975       1975
6                   1[151]         CCSFS           1973       1973
7                   2[151]         CCSFS           1972       1973
8                   3[151]  VAFB,  CCSFS           1974       1981
9                   3[151]  VAFB,  CCSFS           1974       1977
10                  6[151]  VAFB,  CCSFS           1975       1978
11                  6[151]  VAFB,  CCSFS           1975       1976
12                 30[151]  VAFB,  CCSFS           1974       1979
13                 10[151]  VAFB,  CCSFS           1980       1988
14                  1[151]  VAFB,  CCSFS           1981       1981
15                 13[151]  VAFB,  CCSFS           1975       1987
16                 10[151]  VAFB,  CCSFS           1982       1989
17                  4[151]  VAFB,  CCSFS           1982       1984
18                  2[151]  VAFB,  CCSFS           1989       1990
19                  1[151]          VAFB           1989       1989
20                  3[151]  VAFB,  CCSFS           1990       1992
21                 14[151]  VAFB,  CCSFS           1989       1992
22                 12[151]  VAFB,  CCSFS           1999       2015
23                  3[151]  VAFB,  CCSFS           1998       2001
24                 14[151]  VAFB,  CCSFS           1998       2018
25                  4[151]  VAFB,  CCSFS           1998       2002
26                  1[151]  VAFB,  CCSFS           1999       1999
27                 29[151]  VAFB,  CCSFS           1998       2017
28                 69[151]  VAFB,  CCSFS           1990       2009
29                  3[151]  VAFB,  CCSFS           2003       2011
30                  3[151]  VAFB,  CCSFS           2003       2007
31                  3[151]         CCSFS           1998       2000
32                 16[166]  VAFB,  CCSFS           2004       2024
33                  3[166]  VAFB,  CCSFS           2003       2006
34                 14[166]  VAFB,  CCSFS           2002       2019
35                  3[166]  VAFB,  CCSFS           2012       2018
36                  8[166]  VAFB,  CCSFS           2009       2019

In [13]:
dfs_ret[4]

                   Vehicle         Origin      Manufacturer  Height  \
                   Vehicle         Origin      Manufacturer  Height
0              Thor-Able I  United States   Douglas/Aerojet  26.9 m
1             Thor-Able II  United States   Douglas/Aerojet  27.3 m
2            Thor-Able III  United States   Douglas/Aerojet  27.4 m
3             Thor-Able IV  United States   Douglas/Aerojet  27.2 m
4             Thor Agena-A  United States  Douglas/Lockheed  22.7 m
5             Thor Agena-B  United States  Douglas/Lockheed  26.3 m
6             Thor Agena-D  United States  Douglas/Lockheed  29.3 m
7    Thorad SLV-2G Agena D  United States  Douglas/Lockheed  32.9 m
8    Thorad SLV-2H Agena D  United States  Douglas/Lockheed    34 m
9      Thor-Burner-1 MG-18  United States           Douglas    23 m
10  Thor-Burner-1 Altair-3  United States           Douglas   ~24 m
11           Thor-Burner-2  United States           Douglas  22.4 m
12          Thor-Burner-2A  United States           Douglas  23.5 m
13              Thor-Delta  United States           Douglas    31 m
14            Thor-Delta A  United States           Douglas    31 m
15            Thor-Delta B  United States           Douglas    31 m
16            Thor-Delta C  United States           Douglas  27.5 m
17           Thor-Delta C1  United States           Douglas  27.5 m
18            Thor-Delta D  United States           Douglas    32 m
19            Thor-Delta E  United States           Douglas    31 m
20           Thor-Delta E1  United States           Douglas    28 m
21            Thor-Delta G  United States           Douglas    30 m
22            Thor-Delta J  United States           Douglas    31 m
23            Thor-Delta L  United States           Douglas    35 m
24            Thor-Delta M  United States           Douglas    34 m
25           Thor-Delta M6  United States           Douglas  32.4 m
26            Thor-Delta N  United States           Douglas    33 m
27           Thor-Delta N6  United States           Douglas    33 m
28     Thor-DM21 Able-Star  United States   Douglas/Aerojet    29 m
29    Thor-DSV2A Able-Star  United States   Douglas/Aerojet    29 m
30                Thor-ISS  United States   Douglas/Thiokol    23 m
31      Thor-SLV2A Agena-B  United States  Douglas/Lockheed    31 m
32      Thor-SLV2A Agena-D  United States  Douglas/Lockheed  29.3 m

   Mass to ... (kg)                             Reuse Launches (+Â suborbital)  \
                LEO    GTO                Other Reuse Launches (+Â suborbital)
0               250    NaN                  NaN    No                       3
1               270    NaN                  NaN    No                       4
2               NaN    NaN           ~64 to HEO    No                       1
3               NaN    NaN  ~43 to Heliocentric    No                       1
4               860    NaN                  NaN    No                      16
5              1200    NaN                  NaN    No                      21
6              1150    NaN                  NaN    No                      22
7              2000    NaN                  NaN    No                      30
8              2000    NaN                  NaN    No                      13
9               770    NaN       150-300 to MEO    No                       2
10              >73    NaN                  NaN    No                       4
11              NaN    NaN           250 to MEO    No                      12
12              NaN    NaN           300 to MEO    No                       8
13              226   45.0                  NaN    No                      12
14              250   68.0                  NaN    No                       2
15              370   68.0                  NaN    No                       9
16               81    NaN                  NaN    No                      11
17               81    NaN                  NaN    No                       2
18              450  104.0                  NaN    No                       2
19              540  150.0                  NaN    No                       6
20              540  205.0                  NaN    No                      17
21              650    NaN                  NaN    No                       2
22              260  263.0                  NaN    No                       1
23              356  300.0                  NaN    No                       2
24              356  355.0                  NaN    No                      12
25              454  450.0                  NaN    No                       1
26              900    NaN                  NaN    No                       6
27             1600    NaN                  NaN    No                       3
28              150    NaN                  NaN    No                      11
29              150    NaN                  NaN    No                       8
30              NaN    NaN           500 to MEO    No                       5
31              400    NaN                  NaN    No                       2
32             1500    NaN                  NaN    No                      60

    Launch Sites Date of flight
    Launch Sites          First  Last
0          CCSFS           1958  1958
1          CCSFS           1959  1960
2          CCSFS           1959  1959
3          CCSFS           1960  1960
4           VAFB           1959  1960
5           VAFB           1962  1965
6           VAFB           1962  1967
7           VAFB           1966  1971
8           VAFB           1969  1972
9           VAFB           1965  1965
10          VAFB           1965  1966
11          VAFB           1966  1971
12          VAFB           1971  1976
13         CCSFS           1960  1962
14         CCSFS           1962  1962
15         CCSFS           1962  1964
16         CCSFS           1963  1967
17         CCSFS           1966  1969
18         CCSFS           1964  1965
19  VAFB,  CCSFS           1965  1967
20  VAFB,  CCSFS           1966  1971
21         CCSFS           1966  1967
22          VAFB           1968  1968
23  VAFB,  CCSFS           1969  1972
24         CCSFS           1968  1971
25         CCSFS           1971  1971
26  VAFB,  CCSFS           1968  1972
27          VAFB           1970  1971
28         CCSFS           1960  1962
29          VAFB           1963  1965
30          VAFB           1976  1980
31          VAFB           1963  1966
32          VAFB           1963  1968

## Orbital Launch Families

- <https://en.wikipedia.org/wiki/Comparison_of_orbital_launcher_families>

In [15]:
url_lf = 'https://en.wikipedia.org/wiki/Comparison_of_orbital_launcher_families'
dfs_lf = pd.read_html(url_lf)

In [16]:
dfs_lf[0]

       Family           Country/Org.           Manufac.  \
       Family  Family.1 Country/Org.           Manufac.
0    Agnibaan  Agnibaan          IND     AgniKul Cosmos
1       Alpha     Alpha          USA  Firefly Aerospace
2      Angara    Angara          RUS         Khrunichev
3     Antares   Antares          USA        Orbital ATK
4    Ariane 6  Ariane 6     FRA  ESA        ArianeGroup
..        ...       ...          ...                ...
98   Zhuque-2  Zhuque-2          CHN          LandSpace
99   Zhuque-3  Zhuque-3          CHN          LandSpace
100  Zhuque-3  Zhuque-3          CHN          LandSpace
101  Zuljanah  Zuljanah          IRN                ISA
102         0       NaN          NaN                NaN

                            Payload (kg)                      \
                                     LEO                 GTO
0                                    100                  --
1                                   1000                   â€”
2                          3,800â€“â€‹35,000       3,600â€“â€‹12,500
3                                   8000                  --
4                      21,650 (A64 var.)  11,500+ (A64 var.)
..                                   ...                 ...
98   6,000 (LEO) 4,000 (500Â km SSO)[146]                  --
99                   21,000 (expendable)                  --
100  12,500â€“18,300 (1st stage recovered)                  --
101                             220[148]                 NaN
102                                  NaN                 NaN

                      Cost (US$, millions) Launches reaching...        \
                  TLI Cost (US$, millions)                Total Space
0                  --                   --                  NaN   NaN
1                   â€”                   --                 6[a]     5
2                  --                   --                10[b]    10
3                  --  80[citation needed]                18[c]    17
4    8,500 (A64 var.)                  115                 2[e]     2
..                ...                  ...                  ...   ...
98                 --                  NaN                5[bw]     5
99                 --                  NaN                    0   NaN
100                --                  NaN                    0   NaN
101               NaN                  NaN                    0   NaN
102               NaN                  NaN                  NaN   NaN

                               Status Date of flight               \
    Any orbit Target orbit     Status          First         Last
0         NaN          NaN     Devel.       NET 2023          NaN
1         4.0            2     Active           2021          NaN
2        10.0            8     Active           2014          NaN
3        17.0           17  Active[d]           2013          NaN
4         2.0            2     Active           2024          NaN
..        ...          ...        ...            ...          ...
98        4.0            4     Active           2022  Var.: ZQ-2E
99        NaN          NaN     Devel.           2025          NaN
100       NaN          NaN     Devel.           2025          NaN
101       NaN          NaN     Devel.       NET 2023          NaN
102       NaN          NaN        NaN            NaN          NaN

                                                 Notes            Refs
                                                 Notes            Refs
0                              Expected launch in 2022             NaN
1                                                  NaN             [1]
2                                                  NaN          [2][3]
3    Cygnus launcher. Var.: 110, 120, 130, 230, 230...       [4][5][6]
4                          Var.: Ariane 62, Ariane 64.             [7]
..                                                 ...             ...
98   1st methalox LV to reach: space (2022), orbit ...  [38][145][146]
99   methalox LV with reusable 1st stage; stainless...           [147]
100  methalox LV with reusable 1st stage; stainless...           [147]
101                  Two successful suborbital flights      [149][148]
102                                                NaN             NaN

[103 rows x 17 columns]

### Retired Launch Families

In [18]:
dfs_lf[1]

                                Family Country/Orgs.  \
                                Family Country/Orgs.
0                         Ariane 1-2-3      FRA  ESA
1                             Ariane 4      FRA  ESA
2                             Ariane 5      FRA  ESA
3                                 ASLV           IND
4                        Athena I & II           USA
5        Atlas I (Atlas A-B-C-D-E-F-G)           USA
6                             Atlas II           USA
7                            Atlas III           USA
8                          Black Arrow            UK
9                                Delta           USA
10                            Delta II           USA
11                           Delta III           USA
12                            Delta IV           USA
13                             Diamant           FRA
14                       Dnepr (R-36M)      UKR  RUS
15                             Energia          USSR
16                            Falcon 1           USA
17                   Feng Bao 1 (DF-5)           CHN
18                         GSLV Mark I           IND
19                                 H-I           JPN
20                     H-II, IIA & IIB           JPN
21                                 J-I           JPN
22                Kosmos (R-12 & R-14)          USSR
23                   Kaituozhe (DF-31)           CHN
24                           Lambda 4S           JPN
25                        Long March 1           CHN
26                       Long March 1D           CHN
27                            Mu 1-3-4           JPN
28                                Mu 5           JPN
29                                  N1          USSR
30                            N-I & II           JPN
31                                Naro           ROK
32                               Safir           IRN
33                       Saturn I & IB           USA
34                            Saturn V           USA
35                               Scout           USA
36               Shtil'/Volna-O (R-29)           RUS
37                                 SLV           IND
38                 STS (Space Shuttle)           USA
39                            Terran 1           USA
40                                Thor           USA
41  Titan II-(II GLV)-III-IV (LGM-25C)           USA
42                      Tsyklon (R-36)     USSR  UKR
43                            Vanguard           USA
44                            Zhuque-1           CHN

                            Manufac. Payload (kg)                      \
                            Manufac.          LEO          GTO    TLI
0                       AÃ©rospatiale            â€”         2650      â€”
1                       AÃ©rospatiale         7000         4720      â€”
2                             Airbus        21000  10,735[152]      â€”
3                               ISRO          150           --     --
4                       Lockheed ATK         2065           --    295
5                           Lockheed         5900         2340     --
6                           Lockheed         8618         3833     --
7                           Lockheed        10759         4609     --
8                       RAE Westland          132           --     --
9                            Douglas         3848         1312     --
10                               ULA         6000         2171   1508
11                            Boeing         8290         3810     --
12                               ULA        23040        13130   9000
13                             SEREB          160           --     --
14                          Yuzhmash         3600           --    750
15                       NPO Energia       100000        20000  32000
16                            SpaceX     420[179]           --     --
17                              SAST         2500           --     --
18                              ISRO         5000         2500     --
19                        Mitsubishi         3200          NaN     --
20                        Mitsubishi        19000         8000     --
21     IHI Corporation Nissan Motors          880           --     --
22                   Yuzhnoye Polyot         1500           --     --
23                              CALT          800           --     --
24                       Nissan ISAS           26           --     --
25                              CALT          300           --     --
26                              CALT          740           --     --
27                  Nissan Motor IHI          770           --     --
28                  Nissan Motor IHI         1800           --     --
29                       NPO Energia        90000           --  23500
30                        Mitsubishi         2000          730     --
31                   Khrunichev KARI          100           --     --
32                               ISA           50           --     --
33                  Chrysler Douglas        18600           --     --
34     Boeing North American Douglas       118000           --  47000
35                 US Air Force NASA          210           --     --
36                           Makeyev          430           --     --
37                              ISRO           40           --     --
38  Alliant Martin Marietta Rockwell        24400         3810     --
39                  Relativity Space         1250           --     --
40                           Douglas         1270           --     38
41                   Martin Marietta        21900         5773   8600
42                          Yuzhmash         4100           --     --
43                            Martin           23           --     --
44                         LandSpace          300           --     --

   Cost (US$, millions) Launches reaching...                                 \
   Cost (US$, millions)                Total   Space Any orbit Target orbit
0                    --                   28     NaN       NaN          NaN
1                    --                  116     NaN       NaN          NaN
2              165â€“â€‹220                  117     115       115          112
3                    --                    4       2         2            1
4                    --                    7     NaN       NaN          NaN
5                    --                  514     NaN       NaN          NaN
6                    --                   63      63        63          NaN
7                    --                    6       6         6          NaN
8                    --                    4       3       NaN          NaN
9                    --                  186     NaN       NaN          NaN
10                   51                  153     152       152          151
11                   --                    3       2         2          NaN
12                   --                   45      45        45           44
13                   --                   12     NaN       NaN            9
14                   14                   17     NaN       NaN          NaN
15  240 (Energiaâˆ’Buran)                    2       2         1            1
16             7.9[179]               5[180]  4[179]    2[179]       2[180]
17                   --                    8     NaN       NaN            4
18                   --                    6       4         2            2
19                   --                    9       9       NaN          NaN
20       (190), 90,Â 112               66[bx]      65        64           63
21                   --                    1     NaN       NaN          NaN
22                   12                  610     NaN       NaN          559
23                   --                    3       1         1            1
24                   --                    5     NaN       NaN            1
25                   --                    2       2         2            2
26                   --                    0     NaN       NaN          NaN
27                   --                   27     NaN       NaN          NaN
28                   --                    7     NaN       NaN            6
29                   --                    4       0         0            0
30                   --                   15      15        15       14[by]
31                   --                    3       2         1            1
32                   --                8[bz]       5         4            4
33                   19                   13      13        13           13
34                  185                   13      13        13          NaN
35                   --                  125     104       NaN          NaN
36                   --                8[ca]       7         2            2
37                   --                    4       3         3            2
38                  450                  135     134       134          133
39                  NaN                    1       1         0            0
40                   --                  357     NaN       NaN          NaN
41                  350                  369     NaN       NaN          NaN
42                   --                  259     NaN       NaN          NaN
43                   --                   12     NaN         3          NaN
44                  NaN                    1       1         0            0

                                    Status Date of flight        \
                                    Status          First  Last
0                                  Retired           1979  1989
1                                  Retired           1988  2003
2                                  Retired           1996  2023
3                                  Retired           1987  1994
4                                  Retired           1995  2001
5                                  Retired           1957  1997
6                                  Retired           1991  2004
7                                  Retired           2003  2005
8                                  Retired           1969  1971
9                                  Retired           1960  1989
10                                 Retired           1989  2018
11                                 Retired           1998  2000
12                                 Retired           2002  2024
13                                 Retired           1965  1975
14                                 Retired           1999  2015
15                                 Retired           1987  1988
16                            Retired[179]           2006  2009
17                                 Retired           1972  1981
18                                 Retired           2001  2010
19                                 Retired           1986  1992
20                                 Retired           1994  2025
21                                 Retired           1996  1996
22                                 Retired           1967  2010
23                        Retired (likely)           2002  2017
24                                 Retired           1966  1970
25                                 Retired           1970  1971
26                                 Retired           1995  2002
27                                 Retired           1966  1995
28                                 Retired           1997  2006
29                                 Retired           1969  1972
30                                 Retired           1975  1987
31                                 Retired           2009  2013
32                                 Retired           2007  2019
33                                 Retired           1961  1975
34                                 Retired           1967  1973
35                                 Retired           1960  1994
36  Retired (as commercial launchers)[200]           1995  2006
37                                 Retired           1979  1983
38                                 Retired           1981  2011
39                                 Retired           2023  2023
40                                 Retired           1957  1980
41                                 Retired           1959  2005
42                                 Retired           1967  2009
43                                 Retired           1957  1959
44                                 Retired           2018  2018

                                                Notes                    Refs
                                                Notes                    Refs
0                                                 NaN              [150][151]
1                  Var.: 40, 42P, 42L, 44P, 44L, 44LP                   [151]
2                           Var.: G, G+, GS, ECA, ES.         [153][154][155]
3                                                 NaN                   [156]
4                       Launch Lunar Prospector.[157]                   [158]
5       Launch Mercury. Atlas or Centaur upper stage.    [159][160][161][162]
6                                                 NaN         [163][164][165]
7                                    Var.: IIIA, IIIB              [166][167]
8                                                 NaN                   [168]
9   Launched Pioneer & Explorer probes. Var. A, B,...                   [169]
10  Launched Mars probes MGS to Phoenix Var.: 6000...         [169][170][171]
11                                                NaN              [172][173]
12                            Var.: M, M+, and Heavy.                   [174]
13                                                NaN       [citation needed]
14                                                NaN         [175][176][177]
15  1 partial failure with Polyus spacecraft, 1 su...  [178][citation needed]
16                                                NaN                     NaN
17                    3 successful suborbital flights                   [181]
18                                                NaN            [29][30][31]
19              License-built version of the Thor-ELT                   [182]
20                  Var.: A202, A2022, A2024, A204, B                   [183]
21                  Partial demonstration flight only       [citation needed]
22                                  Var.: 1, 2, 3, 3M         [154][184][185]
23                            Var.: KT-1, KT-2, KT2-A                   [186]
24                                                NaN       [citation needed]
25                                                NaN         [187][188][189]
26         3 suborbital launches only (2 successful.)         [187][188][189]
27                  Var.: 1, 3D, 4S, 3C, 3H, 3S, 3SII                   [190]
28                                  Var.: M-V, M-V KM       [citation needed]
29           Designed for Soviet Manned Lunar Mission                   [191]
30             Derived from the American Delta rocket                   [192]
31         First stage uses the Russian RD-151 engine                   [193]
32               Numbers given here may be in dispute                   [194]
33  Saturn 1 family also included 6 suborbital tes...              [195][196]
34                               Var.: Apollo, Skylab         [195][197][198]
35                              Var.: X1, X2, A, D, G                   [199]
36                     Var.: Volna, Shtil, 2.1, 2R, 3                   [200]
37                   Launched Rohini satellite series                   [201]
38                            Orbiter mass: 68585Â kg.                   [202]
39         anticipates 3-D printing most rocket parts                   [203]
40                 Launched Pioneer & Explorer probes                   [169]
41  Var.: I, II, IIIA, IIIB, IIIC, IIID, IIIE, 34D...              [204][205]
42                                     Var.: 1, 2, 3.                   [206]
43                                                NaN                   [207]
44                                                NaN              [208][209]

## Orbital rocket engines

- <https://en.wikipedia.org/wiki/Comparison_of_orbital_rocket_engines>

In [20]:
url_or = 'https://en.wikipedia.org/wiki/Comparison_of_orbital_rocket_engines'
dfs_or = pd.read_html(url_or)

In [23]:
dfs_or[0]

,Engine,Origin,Designer,Vehicle,Status,Use,Propellant,Power cycle,Specific impulse (s)[a],Thrust (N)[a],Chamber pressure (bar),Mass (kg),Thrust:â€‹weight ratio[b],Oxidizer:â€‹fuel ratio
0,Aeon-R,USA,Relativity Space,Terran R,Development,"1st, 2nd",CH4â€‰/â€‰LOX,Gas generator,NaN,1147000,NaN,NaN,NaN,NaN
1,AJ-10-190,USA,Aerojet,"Space Shuttle, Orion, Apollo CSM",Active,Upper,N2O4â€‰/â€‰MMH,Pressure-fed,316[1],"26,689[1]",8.62[1],118[1],23.08,NaN
2,Aquila SL,Germany,Isar Aerospace,Spectrum,Development,1st,C3H8â€‰/â€‰LOX,Gas generator[2],NaN,75000,NaN,NaN,NaN,NaN
3,Aquila VAC,Germany,Isar Aerospace,Spectrum,Development,2nd,C3H8â€‰/â€‰LOX,Gas generator[2],NaN,94000,NaN,NaN,NaN,NaN
4,Archimedes,New Zealand USA,Rocket Lab,Neutron,Development,"1st, 2nd",CH4â€‰/â€‰LOX,"Staged, oxidizer-rich",NaN,730000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,YF-115,China,AALPT,"Long March 6, 7",Active,2nd,RP-1â€‰/â€‰LOX,"Staged, oxidizer-rich",341.5,182400,120,NaN,NaN,2.5
79,YF-130,China,AALPT,Long March 9,Development,1st,RP-1â€‰/â€‰LOX,"Staged, oxidizer-rich",308 (SL),"~5,000,000 (SL)",220,"~6,500",78,2.62
80,Zefiro 9A,Europe,Avio,Vega-C,Active,3rd,HTPB,Solid fuel,295.2[61],"314,000[61]",75,"11,400 with fuel",NaN,NaN
81,Zefiro 40,Europe,Avio,Vega-C,Active,3rd,HTPB,Solid fuel,293.5[62],"1,304,000[62]",115,"39,206 with fuel",NaN,NaN
82,Zenith,USA,Stoke,Nova,Development,1st,CH4â€‰/â€‰LOX,"Staged, full-flow",~345 [63],">444,822[63]",NaN,NaN,NaN,NaN

In [24]:
dfs_or[1]

,Engine,Origin,Designer,Vehicle,Status,Use,Propellant,Power cycle,Specific impulse (s)[a],Thrust (N)[a],Chamber pressure (bar),Mass (kg),Thrust:â€‹weight ratio[e],Oxidizer:â€‹fuel ratio
0,Aeon 1,USA,Relativity Space,Terran 1,Retired,1st,CH4â€‰/â€‰LOX,Gas generator,310,"86,740 (SL)[64]",NaN,NaN,NaN,NaN
1,Aeon 1 Vacuum,USA,Relativity Space,Terran 1,Retired,2nd,CH4â€‰/â€‰LOX,Gas generator,360,"100,085 (SL)[64]",NaN,NaN,NaN,NaN
2,Aestus,Europe,Airbus Defence and Space,"Ariane 5 G, G+, ES",Retired,Upper,N2O4â€‰/â€‰MMH,Pressure-fed,324[65],30000,11,111,27.60,1.9
3,Aestus II,Europe,Airbus Defence and Space,Ariane 5,Retired,Upper,N2O4â€‰/â€‰MMH,Gas generator,340[66],55400,60,138,41.00,1.9
4,Aether,USA,Astra Space,Rocket 3.3,Retired,2nd,RP-1â€‰/â€‰LOX[67],Pressure-fed,NaN,"3,300[68]",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Viking 6,Europe,Snecma,Ariane 4,Retired,Booster,N2O4â€‰/â€‰UHâ€‰25,Gas generator,NaN,750000,NaN,826,92.59,NaN
59,Vulcain HM-60,Europe,Snecma,Ariane 5,Retired,1st,LH2â€‰/â€‰LOX,Gas generator,439[102] 326 (SL)[103],"1,113,000[102] 773,200 (SL)[103]",109[102],"1,300[103]",84.38,NaN
60,Vulcain 2,Europe,Snecma,Ariane 5,Retired,1st,LH2â€‰/â€‰LOX,Gas generator,429[104] 318 (SL)[105],"1,359,000[104] 939,500 (SL)[105]",117.3[104],"1,800[104]",77.04,NaN
61,Waxwing,United Kingdom,Bristol Aerojet,Black Arrow,Retired,Upper,NaN,Solid fuel,278[106] 245 (SL),"29,400 25,900 (SL)",NaN,87,34.48,NaN
62,Zefiro 23,Europe,Avio,Vega,Retired,2nd,HTPB,Solid fuel,287.5[107],"1,122,000[107]",94,"25,935 with fuel",NaN,NaN